<%- include('partials/header.ejs') %>

<div id="loginForm" class="centered-Container">
  <form action="/User" method="POST"  class="pink">
    <label for="userName">Username</label>
    <input class="textbox" type="text" placeholder="Enter Username" name="userName" required />
    <br>
    <label for="passWord">Password</label>
    <input class="textbox" type="password" placeholder="Enter Password" name="passWord" required/>
    <br>
    <input type="submit" value="Submit" />
  </form>
</div>

<%- include('partials/footer.ejs') %>
