<%- include('partials/header.ejs') %>

<div id="mainContainer">
  <form action="/post/new/submit" method="POST">
    <input type="text" name="post_title" placeholder="Title">
    <textarea name="post_content" placeholder="Content"></textarea>
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <button type="submit">Publish</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>
